* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
}

.language {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.language img {
    width: 16px;
    margin-left: 5px;
}

.main {
    text-align: center;
}

.form h1 {
    font-size: 22px;
    color: #1a1a1a;
    margin-bottom: 20px;
}

.role-selector {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.role-selector button {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.role-selector .active {
    background-color: #f5f5f5;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.qr-link {
    color: #999;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
}

.submit {
    width: 100%;
    padding: 10px;
    background-color: #ff5733;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit:hover {
    background-color: #e14e2b;
}
